body {
    font-family: "FontAwesome", sans-serif !important;
    overflow-x:hidden;
}

a {
    text-decoration: none;
}

/*
 Top Header
*/

.top_header {
    background: url('../images/s2-bg.jpg') no-repeat center center fixed #333;
    background-size: cover;
}

.top_nav {
    width: 100%;
    margin: 30px auto 0 auto;
}

.header_date {
    font-size: 0.8em;
    line-height: 1.8em;
}

.logo {
    height: 120px;
}

.nav_item {
    display: inline-block;
    margin-right: 2em;
    font-size: 20px;
    line-height: 41px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
}
.social_item {
   display: inline-block; 
}

.lang {
    z-index: 999;
    top: 10px;
    right: 10px;
}

.social {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.twitter {
    background: url("../images/soc.png") 32px 32px;
}

.facebook {
    background: url("../images/soc.png") 0 32px;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    margin: 0;
    padding: 18px;
    background: url('../images/s2-bg.jpg') no-repeat center center fixed #333;
    background-size: cover;
}

/*
 Speakers section
*/

.speakers {
    color: black;
    padding-bottom: 40px;
}

.speakers_header {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1f419b;
    padding: 40px 0;
}
.speakers_header:before {
    content: "• ";
}
.speakers_header:after {
    content: " •";
}

.speakers_wrapper {
    text-align: center;
}
.community,
.speaker_wrapper {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    margin: 40px 20px;
    text-align: left;
}

.speaker_wrapper {
    cursor: pointer;
    min-height: 120px;
    width: 400px;
    vertical-align: top;
    display: inline-block;
    margin: 40px 20px;
    text-align: left;
}

.speaker_wrapper:hover > .speaker_photo {
    transform: scale(1.1, 1.1);
}

.speaker_photo {
    width: 114px;
    height: 114px;
    border-radius: 10%;
    transition: transform .1s ease-out;
}

.speaker_wrapper .meta {
    display: inline-block;
    vertical-align: top;
    max-width: 265px;
    margin: 9px 0 0 10px;
}
.speaker_wrapper .meta a {
    font-size: 16px;
    line-height: 30px;
    background: transparent;
    color: #1f419b;
    font-weight: bold;
}

.speaker_info {
    padding: 10px 0 0;
}

.speaker_name {
    font-size: 20px;
    font-weight: 700;
    line-height: 10px;
}

.speaker_theme {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}

.aboutText {
    width: 60%;
    margin: 0 auto;
    text-align: justify;
}

/* Popups */

.overlay {
    position: fixed;
    background-color: rgba(0,0,0, 0.5);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
}

.overlay_mobile_menu {
    position: fixed;
    background-color: rgba(0,0,0, 0.2);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

.popup {
    max-width: 50%;
    max-height: 90%;
    padding: 2em;
    position: fixed;
    z-index: 9999;
    display: none;
    overflow: auto;
    border: 3px solid #999;
    box-shadow: 0 1px 17px 9px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    text-align: center;
}

.popup .speaker_wrapper {
    width: 90%;
    margin-bottom: 0;
}

.popup p {
    font-size: 18px;
    margin: 10px 0;
    text-align: justify;
}

.speaker_wrapper_popup {
    min-height: 120px;
    vertical-align: top;
    position: relative;
}

.speaker_links {
    margin: 5px 0;
    font-size: 16px;
}

.speaker_twitter:hover {
    text-decoration: underline;
}

.speaker_sponsor:hover {
    text-decoration: underline;
}

.speaker_twitter {
    text-transform: lowercase;
}

.popup_close {
    display: block;
    position: absolute;
    font-size: 60px;
    top: 3px;
    right: 3px;
    line-height: 44px;
    height: 48px;
    width: 48px;
    text-align: center;
    cursor: pointer;
    color: #909090;
}

.section-13 {
    background: #777;
}

.mail_ru {
    width: 50%;
    z-index: 10;
}

.when-block .main-caption {
    color: #ffa930;
}

.place {
    background: #168de2;
}

.section-3 {
    padding: 40px 40px 80px;
    background: #171717;
}

.section-3 .main-caption {
    padding: 20px 0;
    text-align: center;
}
.section-3 .text {
    margin: 30px 0;
    font-size: 120%;
    line-height: 144%;
}

.active {
    display: block;
}

.top_nav_mobile {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    margin: 0;
    padding: 30px;
    padding-bottom: 40px;
    background: url('../images/s2-bg.jpg') no-repeat center center fixed #333;
    background-size: cover;
}

.hamburger {
    cursor: pointer;
    height: 24px;
    padding: 3px 4px 3px;
    width: 25px;
}

.hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

.mobile_menu {
    display: none;
    width: 40%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #3e3c3d;
}

/*
Style the navigation menu
*/

.mobile_menu a {
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #222222;
    border-top: 1px solid #444444;
    padding: 15px;
}

.mobile_menu .social {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: bottom;
}

.communities {
    color: black;
    background-color: #f4f4f4;
}

.communities .community {
    width: 300px;
}

.communities .speaker_wrapper {
    padding-top: 12px;
}

.community_organizers {
    font-size: 16px !important;
    font-style: italic;
    color: #444;
}

.community_fb {
    text-transform: lowercase;
}

.organizer {
    vertical-align: top;
    display: inline-block;
    margin: 40px 20px;
    text-align: left;
}

.organizerInfo {
    color: red;
    display: block;
    font-size: 16px;
}

.organizerTwitter {
    cursor: pointer;
}

.acknowledgements {
    color: black;
    padding: 40px 40px 80px;
}

.acknowledgementsTitle {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1f419b;
    padding: 40px 0;
    text-align: center;
}

.acknowledgementsList {
    list-style: circle;
    margin-top: 20px;
    margin-left: 60px;
}

.acknowledgementsTwitter {
    cursor: pointer;
    color: #168de2;
}

.acknowledgementsTwitter:hover {
    text-decoration: underline;
}

@media (max-width: 1040px) {
    .speaker_photo {
        position: static;
        margin-left: 40px;
    }

    .speaker_info {
        padding: 5px;
    }
}


@media (max-width: 900px) {

    .nav_item {
        width: 100%;
        padding: 5px;
    }

    .speakers_wrapper {
        width: 100%;
        text-align: center;
    }

    .speaker_wrapper {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .speaker_info {
        text-align: center;
    }

    .speaker_photo {
        margin-left: 0;
    }

    .popup {
        max-width: 95%;
    }

    .popup p {
        text-align: center;
    }

}

@media (max-width: 380px) {
    .speaker_photo {
        position: static;
    }

    .speaker_info {
        padding: 5px;
    }

    .speaker_wrapper_popup {
        height: 90%;
    }

}