body {
    font-family: 'PT Sans', sans-serif !important;
    overflow-x:hidden;
}

a {
    text-decoration: none;
}

/*
 Top Header
*/

.top_header {
    background: #1a1a1a;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 99;
    font-size: 22px;
}

a[data-lang] {
    display: none;
    color: white;
    text-transform: uppercase;
}

.lang-active {
    display: inline-block !important;
}

.lang-wrapper {
    width: 5%;
    display: inline-block;
}

.lang a {
    font-size: 0.5em;
}


.top_nav {
    width: 90%;
    display: inline-block;
    padding-left: 5%;
}

.header_date {
    font-size: 0.8em;
    line-height: 1.8em;
}

.logo {
    display: inline-block;
    background: #00f;
    width: 5%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.nav_item {
    display: inline-block;
    margin-right: 2em;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
}
.social_item {
   display: inline-block;
}

.lang {
    z-index: 999;
    top: 10px;
    right: 10px;
}

.social {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.twitter {
    background: url("../images/soc.png") 32px 32px;
}

.facebook {
    background: url("../images/soc.png") 0 32px;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    margin: 0;
    padding: 18px;
    background: url('../images/s2-bg.jpg') no-repeat center center fixed #333;
    background-size: cover;
}

/*
 Speakers section
*/

.speakers {
    color: black;
    padding-top: 180px;
    padding-bottom: 40px;
}

.speakers_header {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1f419b;
    padding: 40px 0;
}
.speakers_header:before {
    content: "{ ";
}
.speakers_header:after {
    content: " }";
}

.speakers_wrapper {
    text-align: center;
}
.community,
.speaker_wrapper {
    vertical-align: top;
    display: inline-block;
    margin: 40px 20px;
    text-align: left;
}

.community {
    cursor: pointer;
}

.speaker_wrapper {
    min-height: 120px;
    width: 350px;
    vertical-align: top;
    display: inline-block;
    margin: 40px 20px;
    text-align: left;
}

.speaker_photo {
    width: 114px;
    height: 114px;
}

.speaker_wrapper .meta {
    vertical-align: top;
    max-width: 265px;
}
.speaker_wrapper .meta a {
    font-size: 16px;
    background: transparent;
    color: #b3b3b3;
}
.speaker_wrapper .meta a:hover {
    color: black;
}
.speaker_twitter_acc {
    margin-top: 10px;
}
.speaker_twitter_acc:after {
    content: ", ";
}
.speaker_wrapper .meta a:hover:before {
    color: #1f419b;
}
.speaker_wrapper .meta a:first-of-type:before {
    content: "";
}

.speaker_info {
    padding: 10px 0 0;
}

.speaker_name {
    font-size: 24px;
    font-weight: bold;
    line-height: 10px;
    margin-top: 20px;
}

.speaker_theme {
    font-size: 40px;
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: 36px;
    color: #00f;
    text-transform: capitalize;
}

.speaker_speech {
    font-size: 18px;
    margin-top: 36px;
}

.aboutText {
    width: 60%;
    margin: 0 auto;
    text-align: justify;
}

.sponsors li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 35px;
}
.sponsors img {
  max-width: 170px;
  max-height: 120px;
}

/* Popups */

.overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0, 0.5);
}

.overlay_mobile_menu {
    position: fixed;
    background-color: rgba(0,0,0, 0.2);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

.popup {
    max-width: 70%;
    max-height: 90%;
    padding: 50px 20px;
    position: fixed;
    z-index: 9999;
    display: none;
    overflow: auto;
    box-shadow: 0 1px 17px 9px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    text-align: left;
}

.popup .speaker_wrapper {
    width: 90%;
    margin-bottom: 0;
}

.popup p {
    font-size: 18px;
    margin: 10px 0;
}

.speaker_wrapper_popup {
    min-height: 120px;
    vertical-align: top;
    position: relative;
}

.speaker_links {
    margin: 5px 0;
    font-size: 16px;
}
.speaker_links a {
    color: #1f419b;
}

.speaker_links a:hover {
    color: #000;
}

.speaker_twitter:after {
    content: " •";
}

.speaker_twitter:hover:after {
    color: #1f419b;
}

.popup_close {
    display: block;
    position: absolute;
    font-size: 60px;
    top: 3px;
    right: 3px;
    line-height: 44px;
    height: 48px;
    width: 48px;
    text-align: center;
    cursor: pointer;
    color: #909090;
}

.section-13 {
    background: #ccc;
    padding: 0;
}

.mail_ru {
    width: 50%;
}

.when-block {
    position: absolute;
    top: 55px;
    right: 45px;
}

.place {
    width: 90%;
    position: relative;
    padding: 30px 35px 45px;
    background: rgb(26,26,26);
}

.when-block .main-caption {
    color: rgb(175,205,255);
}

.section-3 {
    padding: 40px 40px 80px;
    background: #0000fe;
}

.section-3 .main-caption {
    padding: 20px 0;
    text-align: center;
}
.section-3 .text {
    margin: 30px 0;
    font-size: 120%;
    line-height: 144%;
}

.active {
    display: block;
}

.top_nav_mobile {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    margin: 0;
    padding: 15px 0 15px 10px;
    background: rgb(26, 26, 26);
    background-size: cover;
}

.hamburger {
    cursor: pointer;
    height: 24px;
    padding: 3px 4px 3px;
    width: 25px;
}

.hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

.mobile_menu {
    display: none;
    width: 40%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9999;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #3e3c3d;
}

/*
Style the navigation menu
*/

.mobile_menu a {
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #222222;
    border-top: 1px solid #444444;
    padding: 15px;
}

.mobile_menu .social {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: bottom;
}

.communities {
    padding-bottom: 60px;
    color: black;
    background-color: #ccc;
}

.communities img {
    width: 300px;
    height: 300px;
}

.communities .community {
    width: 300px;
}

.communities .speaker_wrapper {
    padding-top: 12px;
}

.community_organizers {
    font-size: 16px !important;
    font-style: italic;
    color: #444;
}

.communities .speaker_links a {
    /*border-bottom: 1px solid #000;*/
    text-decoration: underline;
}

#map {
    width: 100%;
    height: 600px;
}

.organizer {
    vertical-align: top;
    display: inline-block;
    margin: 40px 20px;
    text-align: left;
}

.organizerInfo {
    color: red;
    display: block;
    font-size: 16px;
}

.organizerTwitter {
    cursor: pointer;
}

.acknowledgements {
    color: black;
    padding: 40px 40px 80px;
}

.acknowledgementsTitle {
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1f419b;
    padding: 40px 0;
    text-align: center;
}

.acknowledgementsList {
    list-style: circle;
    margin-top: 20px;
    margin-left: 60px;
}

.acknowledgementsTwitter {
    cursor: pointer;
    color: #168de2;
}

.acknowledgementsTwitter:hover {
    text-decoration: underline;
}

@media (max-width: 1040px) {
    .when-block {
        width: 490px;
    }
}

@media (max-width: 940px) {
    .speaker_wrapper {
        margin: 30px 10px;
    }
}


@media (max-width: 900px) {
    .top_header {
        position: static;
        z-index: 0;
    }
    .top_nav, .logo {
        display: none;
    }
    .top_nav_mobile {
        display: block;
    }

    .lang-wrapper {
        position: fixed;
        top: 0.5em;
        right: 0.5em;
    }

    .nav_item {
        width: 100%;
        padding: 5px;
    }

    .lang-button {
        width: 10%;
    }

    .speakers {
        padding-top: 70px;
    }

    .speakers_wrapper {
        width: 100%;
        text-align: center;
    }

    .speaker_wrapper {
        display: block;
        width: 450px;
        margin: 30px auto;
    }

    .speaker_name {
        line-height: 20px;
    }

    .speaker_info {
        text-align: center;
    }

    .speaker_photo {
        width: 150px;
        height: 150px;
    }

    .popup {
        max-width: 95%;
    }

    .popup .speaker_photo {
        display: block;
        float: none;
        width: 300px;
        height: 300px;
        margin: auto;
    }

}

.date-event {
    border-bottom: 1px solid #ccccff;
}

.date-event, .where-event {
    font-weight: bold;
}

@media (max-width: 870px) {
    .when-block {
        top: 20px;
        right: 20px;
        width: 280px;
    }
    .place {
        padding: 30px 30px 40px;
    }
    .mail_ru {
        margin-top: -30px;
    }
}

@media (max-width: 450px) {

    .mobile_menu {
        width: 70%;
        min-width: 150px;
    }

    .speaker_wrapper {
        width: 300px;
        margin: 80px auto;
    }

    .speaker_wrapper:first-child {
        margin-top: 30px;
    }

    .speaker_photo {
        width: 300px;
        height: 300px;
    }

    .speaker_wrapper .meta {
        max-width: 300px;
        margin: 10px 0 0;
    }

    .speaker_info {
        padding: 5px;
    }

    .speaker_wrapper_popup {
        height: 90%;
    }

    .communities .community {
        margin: 40px 0;
    }

}